// Colours Palette

$navBg: #0f294e;
$shadows : grey;
$hoverBorder: #dfba18; 
$NavhoverTxt:  #9EA4BA; 
$bgSign: #9EA4BA;
$bgContact: #D9D9D9;
$white: white;

// Font Properties
    // Font Family 
    $font : Arial, Helvetica, sans-serif;
    // Font Size
    $mainTxtSize: 20%;
    $secondaryTxtSize: 20%;
    $titleTxt: 40%;
    // Font colours
    $mainTxtCl: #0F2C59;
    $secondaryTxtCl: grey;

// Sizes made for about sec
    $abtSecondaryTxtSize: 150%;
    $abtTitleTxt: 200%;

    $servCardWidth: 20%;
    $servCardHeight: 300px;

    $servCardShad: #0f294e9b;

// Color Palette
    $heroParagCl: #9EA4BA;
    $heroHeaderCl: #0f294e;
    $white : white;
    $heroHeaderSz: 200%;
    $heroParagSz: 100%;

    $btnTxtCl: #0f294e;

// Search bar dimensions styles
    $heroSearchAlignTOP: -100%;
    $heroSearchAlignLEFT: 20%;

// Feedback variables
    $feedbackTitleSz: 200%;
    $feedbackParagraphSz: 110%;
    
    $feedbackTitleCl: white;

// Nav and Footer styling 
    $logoSz : 150%;
    $navSecSZ : 120%;

// Contact Us styling 
    $contactUs: #9EA4BA;






// Colours Palette

$navBg: #0f294e;
$shadows : grey;
$hoverBorder: #dfba18; 
$NavhoverTxt:  #9EA4BA; 
$bgSign: #9EA4BA;
$bgContact: #D9D9D9;
$white: white;


// Font Properties
    // Font Family 
    $font : Arial, Helvetica, sans-serif;
    // Font Size
    $mainTxtSize: 20%;
    $secondaryTxtSize: 20%;
    $titleTxt: 40%;
    // Font colours
    $mainTxtCl: #0F2C59;
    $secondaryTxtCl: grey;

// Sizes made for about sec
    $abtSecondaryTxtSize: 150%;
    $abtTitleTxt: 200%;

    $servCardWidth: 20%;
    $servCardHeight: 100%;

    $servCardShad: #0f294e9b;

// Color Palette
    $heroParagCl: #9EA4BA;
    $heroHeaderCl: #0f294e;
    $white : white;
    $heroHeaderSz: 200%;
    $heroParagSz: 100%;

    $btnTxtCl: #0f294e;

// Search bar dimensions styles
    $heroSearchAlignTOP: -100%;
    $heroSearchAlignLEFT: 20%;

// Feedback variables
    $feedbackTitleSz: 200%;
    $feedbackParagraphSz: 110%;
    
    $feedbackTitleCl: white;

// Nav and Footer styling 
    $logoSz : 150%;
    $navSecSZ : 120%;



.cat-row{
  display: flex;
  margin-left: 4% ;
  margin-right: 4%;
  margin-top: 5%;
}

.cat-col{
  display: flex;
  flex-direction: column;
  //width: 20%;
  margin-right: 6%;
  justify-content: center;
  align-items: center;
  
}

.cat-col img{

}


// Nav bar styling 
.navbar_container{
  background-color: $navBg;
  border-radius: 0 0 40px 40px;
  height: 150px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 15px;
  font-family: $font;
}
.navbar_container-sec1 {
  display: flex;
  flex-direction: row;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
}
.navbar_container hr{
  color: $bgSign;
}
.navbar_container-sec1 .searchBarNav{
  width: 30%;
  position: absolute;
  right: 1%;
  flex: 1;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.navbar_container-sec1 #searchQueryInputNav{
  border: none;
  height: 1.5rem;
  font-size: 1rem;
  background-color: $navBg;
  text-align: center;
  position: absolute;
  right: 32%;
  bottom: 0.5%;
  color: $white;
}
.navbar_container-sec1 #searchQuerySubmitNav{
  width:24px;
  height:24px;
  border: none;
  outline: none;
  background-color: $navBg;
  position: absolute;
  right: 32%;
  bottom: 1%;
}
.navbar_container-logo{
  font-size: $logoSz;
  color: $white;
  font-weight: bold;
}
.navbar_container-sec1 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
.navbar_container h3{
  color: $white;
}

.navbar_container a {
text-decoration: none;
font-size:  $navSecSZ;
}

.navbar_container .item {
text-decoration: none;
color:$white;
font-weight: lighter;
}

.navbar_container .item:hover {
color: $hoverBorder;
}
.navbar_container-sec2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
#navbar_container-signinup{
  background-color: $navBg;
  border: 1.5px solid;
  border-radius: 15px;
  border-color: $white;
  color: $white;
  height: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 2%;
  cursor: pointer;
}
#navbar_container-signinup:hover{
  background-color: $white;
  color: $btnTxtCl;
}
#navbar_container-profile{
  position: absolute;
  right: 5%;
  fill:$white;
  // Hidden profile icon
  // opacity: 0;
  display: none;
}
#navbar_container-profile:hover{
  fill: $hoverBorder;
}

// Nav bar burger list START
.hamburger{
  position: absolute;
  top: 20px;
  right: 4%;
  width: 30px;
  height: 4px;
  background-color: $white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 99;
  transition: 0.3s;
}
.hamburger::before,
.hamburger::after{
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: $white;
  border-radius: 10px;
  transition: 0.3s;
}
.hamburger::before{
  top:-10px;
  width: 20px;
}
.hamburger::after{
  top:10px;
  width: 25px;
}
#navbar_burgerList{
 width: 30px;
 height: 40px;
 z-index: 100;
 cursor: pointer;
 opacity: 0;  
 position: absolute;
 top: 15px;
 right: 4%;

}
.hamburger,
#navbar_burgerList{
  display: none;
}
.navbar_container input:checked ~ .hamburger{
  background: transparent;
}
.navbar_container input:checked ~ .hamburger::before{
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.navbar_container input:checked ~ .hamburger::after{
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.navbar_burgerList{
  z-index:0;
}
.navbar_burgerList-items{
  position: absolute;
  top: 0.25%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: fixed;
  right: -300px;
  background: $navBg;  
  width: 300px;
  height: 100%;
  padding-top:70px;
  z-index:0;

}
.navbar_burgerList-items{
  list-style-type: none; 
  z-index: 22;
}
li:hover{
  fill: $hoverBorder;
}
.navbar_burgerList-items li{
  width: 100%;
}
.navbar_burgerList-items li a,
.navbar_burgerList-items li a:hover {
  padding-top: 30px;
  font-size: 24px;
  box-shadow: 0 1px 0 $shadows;
  text-decoration: none;
  // inset;
  font-size: small;
}
.navbar_container input:checked ~ .navbar_burgerList-items{
  right: 0;
}
.navbar_container-burger-logo{
color: $white;
font-size: large;
position: absolute;
left: 10%;
top: 15%;
display: none;
}
.navbar_container-burger-logo hr{
opacity: 0;
}
.navbar_burgerList-items .searchBarNav{
  width: 30%;
  position: absolute;
  right: 1%;
  flex: 1;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.navbar_burgerList-items #searchQueryInputNav{
  border: none;
  height: 1.5rem;
  font-size: 1rem;
  background-color: $navBg;
  text-align: center;
  position: absolute;
  right: 70px;
  bottom: 3%;
  color: $white;
}
.navbar_burgerList-items #searchQuerySubmitNav{
  width:24px;
  height:24px;
  border: none;
  outline: none;
  background-color: $navBg;
  position: absolute;
  right: 70px;
  bottom: 3%;
}
.navbar_burgerList-items #navbar_container-signinup{
  background-color: $navBg;
  border: 1.5px solid;
  border-radius: 15px;
  border-color: $white;
  color: $white;
  height: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 90px;
  cursor: pointer;
  margin-top: 20px;
}
.navbar_burgerList-items #navbar_container-signinup:hover{
  background-color: $white;
  color: $btnTxtCl;
}
@media screen and (max-width: 780px) {
    .hamburger,
    #navbar_burgerList{
    display: block;
    transform: scale(0.75);
    }
    .navbar_container-sec1{
      display: none;
      overflow: hidden;
    }
    .navbar_container-sec2{
      display: none;
      overflow: hidden;
    }
    .navbar_container hr{
      opacity: 0;
    }
    .navbar_container-burger-logo hr{
      opacity: 1;
    }
    .navbar_container{
      height: 10%;
    }
    .navbar_container-burger-logo{
      display: block;
    }
}
// Nav bar burger list END
// Nav Bar Responsive 
@media screen and (min-width: 959px) and (max-width: 1300px){
  .navbar_container-sec1 #searchQuerySubmitNav{
    right: 40%;
  }
  .navbar_container-sec1 #searchQueryInputNav{
    right: 34%;
  }
}
@media screen and (min-width: 780px) and (max-width: 960px){
  .navbar_container-sec1 #searchQuerySubmitNav{
    right: 46%;
  }
  .navbar_container-sec1 #searchQueryInputNav{
    right: 36%;
  }
}


// Footer Styling 
.footbar_{
    background-color: $navBg;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    height: 250px;
    bottom: 0;
    padding-top: 2%;            
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px;
    position: relative;
  }
  .footbar_container{
    display: flex;
    flex-direction: row;
    
  }
  .footbar_container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .footbar_container-logo{
    color: $white;
    font-size: $logoSz;
    font-weight: bold;
  }
  .footbar_container li {
  display: inline;
  }
  
  .footbar_container a {
  text-decoration: none;
  font-size: $navSecSZ;
  margin-left: 100px;
  }
  
  .footbar_container .item {
  text-decoration: none;
  color: $white;
  font-weight: lighter;
  }
  
  .footbar_container .item:hover {
  color: $NavhoverTxt;
  }
  .footbar_container-copyRight {
  text-align: center;
  font-family: $font;
  color: $white;
  font-size: 12px;
  background-color: $navBg;
  margin: 0;
  margin-top: 1%;
  padding-top: 6%;
  }
  .footbar_container-copyRight p{
  padding: 0.3%;
  }
  // Footer - Contact Us
  .footbar_contactus{
  height: 85px;
  background-color: $contactUs;
  position: absolute;
  bottom: 250px;
  z-index: 0;
  width: 90%;
  right: 5%;
  border-radius: 90px 90px 0 0 ;
  text-align: center; 
  padding-top: 2%;
  padding-bottom: 2%;
  }
  .footbar_contactus-link{
    text-decoration: none;
    text-align: center;
    font-family: $font;
    color: $white;
    font-size: 30px;
  }
  .footbar_contactus-link:hover{
    color: $hoverBorder;
    font-size:40px;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .footbar_ {
        height: auto;
        padding: 20px;
       
    }
  
    .footbar_container {
        flex-direction: row;
        align-items: center;
    }
  
    .footbar_container ul {
        padding: 10px;
    }
  
    .footbar_container-logo {
        font-size: 24px;
    }
  
    .footbar_container a {
        font-size: 16px;
        margin-left: 0;
    }
  
    .footbar_container-copyRight {
        font-size: 14px;
        padding: 20px 0;
    }
  
    .footbar_contactus {
      position: absolute;
      bottom: 260px;
      z-index: -1;
      width: 70%;
      right: 15%;
    }
    .footbar_contactus-link{
      font-size: 15px;
    }
    .footbar_contactus-link:hover{
      font-size:20px;
    }
    
  }
  
  
  
.my-element {
    background-color: #3498db;
    color: #fff; 
    transition: background-color 0.3s; 
  
    &:hover {
      background-color: $NavhoverTxt; 
    }
  }
  *, *:after, *:before {
      box-sizing: border-box;
  }
  
  body {
      font-family: "Lexend", sans-serif;
      line-height: 1.5;
      min-height: 100vh;
      //display: flex;
      align-items: center;
      //justify-content: center;
      color: #393232;
  }
  // image
  img {
  width:80%;
  min-height:90%;
  display: block;
  }
  
  .card-list {
      //width: 90%;
      //max-width: 200px;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      gap: 20px;
  }
  
  .card {
      
      background-color: #FFF;
      box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
      border-radius: 20px;
      overflow: hidden;
      padding: 1.25rem;
      padding-right: 1.25rem;
      height:fit-content;
      position: relative;
      transition: .15s ease-in;
      
      &:hover, &:focus-within {
          box-shadow: 0 0 10px 2px orange, 0 10px 60px 0 rgba(#000, .1);
          transform: translatey(-15px);
          border:3px solid orange;
      }
  }
  // image
  .card-image {
      border-radius: 1%;
      width: 100%;
      overflow: hidden;
  }
  // BOOK NAme
  .card-header {
      //margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
          font-weight: 600;
          font-size: 0.9rem;
          line-height: 1.25;
          text-decoration: none;
          color: inherit;
          will-change: transform;
          &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
          }
      }
  
      
      
  }
  // Background of the bookmark icon 
  .icon-button {
      border: 0;
      background-color: #fff;
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-size: 1.25rem;
      transition: .25s ease;
      box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .05);
      z-index: 1;
      cursor: pointer;
      color: #565656;
  // Bookmark icon 
      svg {
          width: 1em;
          height: 1em;
      }
      &:hover, &:focus {
          background-color: #b5ccd6;
          color: #FFF;
      }
  }
  
  .card-footer {
      border-top: 1px solid #ddd;
      //padding-top: 1rem;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }
  
  .card-meta {	
      display: flex;
      align-items: center;
      color: #787878;
      &:first-child:after {
          display: block;
          content: "";
          width: 4px;
          height: 2px;
          border-radius: 50%;
          background-color: currentcolor;
          margin-left: .75rem;
          margin-right: .75rem;
      }
      svg {
          flex-shrink: 0;
          width: 1em;
          height: 1em;
          margin-right: .25em;
      }
  }
  
  //@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
  
  fieldset, label { margin: 0; padding: 0; }
  
  /****** Style Star Rating Widget *****/
  
  .rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
  
  @media screen and (max-width: 945px) {
    .catalog_section {
        //width: 90%;
        //max-width: 200px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    }
  }

  @media screen and (max-width: 765px) {
    .catalog_section {
        //width: 90%;
        //max-width: 200px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }
  }

  @media screen and (max-width: 729px) {
    .catalog_section {
        //width: 90%;
        //max-width: 200px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
  }

  @media screen and (max-width: 630px) {
    .catalog_section {
        //width: 90%;
        //max-width: 200px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
  }

  @media screen and (max-width: 542px) {
    .catalog_section {
        //width: 90%;
        //max-width: 200px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
  }

  @media screen and (max-width: 380px) {
    .catalog_section {
        //width: 90%;
        //max-width: 200px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
  }
  @media screen and (max-width: 360px) {
    .catalog_section {
        //width: 90%;
        //max-width: 200px;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
  }
  