// Colours Palette

$navBg: #0f294e;
$shadows : grey;
$hoverBorder: #dfba18; 
$NavhoverTxt:  #9EA4BA; 
$bgSign: #9EA4BA;
$bgContact: #D9D9D9;

// Font Properties
    // Font Family 
    $font : Arial, Helvetica, sans-serif;
    // Font Size
    $mainTxtSize: 20%;
    $secondaryTxtSize: 10%;
    // Font colours
    $mainTxtCl: #0F2C59;
    $secondaryTxtCl: grey;